@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    font-family: 'Noto Sans','Noto Sans KR', verdana, sans-serif;
}

main {
    position: relative;
    top:100px;
}

main>p {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

main>p>img {
    width: 100%;
    min-width: 1900px;
}

main>p>span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    color: #fff;
    text-decoration: underline;
}

/*menuList 시작*/

#menuList {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #dedede;
}

#menuList #mainBar {
    width: 1180px;
    height: 50px;
    margin: 0 auto;
    border-left: 1px solid #dedede;
}

#menuList #mainBar>li {
    line-height: 50px;
    float: left;
    text-align: center;
    position: relative;
    color: #bbb;
}

#menuList #mainBar li a:not(.active) {
    color: #bbb;
    transition: 0.3s;
}

#menuList #mainBar li a:hover {
    color: #000;
}

#menuList #mainBar .subBar li a:hover {
    text-decoration: underline;
}

#menuList #mainBar>li:first-child {
    width: 61px;
    border-right: 1px solid #dedede;
}

#menuList #mainBar>li:nth-child(2) {
    width: 243px;
    border-right: 1px solid #dedede;
}

#menuList #mainBar>li:nth-child(2) i {
    padding-left: 100px;
}

#menuList #mainBar>li:nth-child(3) {
    width: 278px;
    border-right: 1px solid #dedede;
}

#menuList #mainBar>li:nth-child(3) i {
    padding-left: 180px;
}

#menuList #mainBar>li:last-child {
    width: 555px;
    text-align: right;
    font-size: 14px;
    word-spacing: 5px;
}

#menuList #mainBar>li:last-child span {
    color: #000;
}

#menuList .subBar {
    width: 243px;
    display: none;
    background-color: #fff;
    border: 1px solid #dedede;
    position: absolute;
    left: -1px;
}

#menuList li:nth-child(3) .subBar {
    width: 278px;
    left: -1px;
}

#menuList .subBar li {
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
}

.mainBarStyle {
    border: 1px solid #000 !important;
    border-bottom: none;
    box-shadow: 1px 7px 10px #aaa;
    left: -1px;
    top: -1px;
}

.subBarStyle {
    border: 1px solid #000 !important;
    box-shadow: 1px 7px 10px #aaa;
}

.subBar li a.active {
    text-decoration: underline;
}

/*menuList 종료*/

#bbsArea {
    width: 1180px;
    padding: 80px 0;
}

#bbsArea>p {
    font-size: 28px;
    margin: 20px 0;
}

#bbsArea table {
    width: 1180px;
    border-top: 1px solid #000;
    border-collapse: collapse;
}

#bbsArea table tr th {
    height: 71px;
    font-weight: normal;
    background-color: #f9f9f9;
    border-bottom: 1px solid #dedede;
}

#bbsArea table tr td {
    height: 71px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #dedede;
}

#bbsArea table tr td:first-child {
    width: 145px;
    color: #666;
}

#bbsArea table tr td:nth-child(2) {
    width: 885px;
    text-align: left;
    padding-left: 30px;
}

#bbsArea table tr td:nth-child(2):hover {
    text-decoration: underline;
}

#bbsArea table tr td:nth-child(3) {
    width: 150px;
    color:#aaa;
}

#bbsArea table tr:last-child td {
    border-bottom: 1px solid #aaa;
}

table tr td .bbsInfo {
    width: 55px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #cb0000;
    display: inline-block;
    border: 1px solid #cb0000;
}

#buttonArea {
    height: 40px;
    margin-top: 40px;
    text-align: center;
}

#buttonArea ul {
    height: 40px;
    display: inline-block;
}

#buttonArea #pageBtn {
    margin: 0 20px;
}

#buttonArea ul li,#buttonArea ul li a{
    width: 42px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    float: left;
}

#buttonArea ul:first-child li,
#buttonArea ul:last-child li {
    border: 1px solid #aaa;
    font-size: 18px;
}

#buttonArea ul:first-child li:first-child,
#buttonArea ul:last-child li:first-child {
    border-right: none;
}

#buttonArea #pageBtn li {
    border: 1px solid #aaa;
    border-right: none;
    color: #666;
}

#buttonArea #pageBtn li:hover {
    background-color: #eee;
}

#buttonArea #pageBtn li:last-child {
    border: 1px solid #aaa;
}

.pager {
    outline: none;
    background-color: #000;
    color: #fff;
}