@charset "UTF-8";

main {
    position: relative;
    top:100px;
}

main>p:first-child {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

main>p:first-child>img {
    width: 100%;
    min-width: 1900px;
}

main>p:first-child>span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    color: #fff;
    text-decoration: underline;
}

/*menuList 시작*/

#menuList {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #dedede;
}

#menuList #mainBar {
    width: 1180px;
    height: 50px;
    margin: 0 auto;
    border-left: 1px solid #dedede;
}

#menuList #mainBar>li {
    line-height: 50px;
    float: left;
    text-align: center;
    position: relative;
    color: #bbb;
}

#menuList #mainBar li a:not(.active) {
    color: #bbb;
    transition: 0.3s;
}

#menuList #mainBar li a:hover {
    color: #000;
}

#menuList #mainBar .subBar li a:hover {
    text-decoration: underline;
}

#menuList #mainBar>li:first-child {
    width: 61px;
    border-right: 1px solid #dedede;
}

#menuList #mainBar>li:nth-child(2) {
    width: 243px;
    border-right: 1px solid #dedede;
}

#menuList #mainBar>li:nth-child(2) i {
    padding-left: 120px;
}

#menuList #mainBar>li:nth-child(3) {
    width: 278px;
    border-right: 1px solid #dedede;
}

#menuList #mainBar>li:nth-child(3) i {
    padding-left: 150px;
}

#menuList #mainBar>li:last-child {
    width: 590px;
    text-align: right;
    font-size: 14px;
}

#menuList #mainBar>li:last-child span {
    color: #000;
}

#menuList .subBar {
    width: 243px;
    display: none;
    background-color: #fff;
    border: 1px solid #dedede;
    position: absolute;
    left: -1px;
}

#menuList li:nth-child(3) .subBar {
    width: 278px;
    left: -1px;
}

#menuList .subBar li {
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
}

.mainBarStyle {
    border: 1px solid #000 !important;
    border-bottom: none;
    box-shadow: 1px 7px 10px #aaa;
    left: -1px;
    top: -1px;
}

.subBarStyle {
    border: 1px solid #000 !important;
    box-shadow: 1px 7px 10px #aaa;
}

.subBar li a.active {
    text-decoration: underline;
}

/*menuList 종료*/

#inquiryArea {
    width: 1180px;
    padding: 80px 0;
}

#inquiryArea p {
    font-size: 26px;
    padding-bottom: 20px;
}

#inquiryArea p span {
    font-size: 14px;
    color: #666;
}

#inquiryArea table {
    width: 1180px;
    border-top: 1.5px solid #000;
    border-collapse: collapse;
}

#inquiryArea table tr td {
    height: 70px;
    font-weight: normal;
    border-bottom: 1px solid #dedede;
}

#inquiryArea table tr:last-child td {
    border-bottom: 1px solid #aaa;
}

#inquiryArea table tr td:first-child {
    width: 235px;
    background-color: #f9f9f9;
    text-align: left;
    padding-left: 20px;
}

#inquiryArea table tr td:nth-child(2) {
    text-align: left;
    padding: 0 20px;
}

#inquiryArea table tr td:nth-child(2) input:not(#file-upload-name) {
    height: 44px;
    border: 1px solid #dedede;
    transition: 0.3s;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
}

#inquiryArea table tr td:nth-child(2) input:focus {
    border: 1px solid #000;
    transition: 0.3s;
}

#inquiryArea table tr td p {
    outline: none;
    padding-left: 10px;
}

input::placeholder {
    color: #000;
    font-size: 15px;
}

#uName {
    width: 195px;
}

tr:nth-child(3) td input {
    width: 144px;
}

#emailID, #emailAddress {
    width: 235px;
}

table tr td select {
    height: 46px;
    border: 1px solid #000;
    outline: none;
    font-size: 15px;
}

#inquiryType {
    width: 225px;
}

#select_email {
    width: 159px;
}

#outbackStore {
    width: 334px;
}

#wentDay {
    width: 194px;
}

fieldset {
    border: none;
    margin-top: 10px;
}

label {
    padding: 0 15px;
}

/* 라디오박스 커스텀 시작 */

/* The container */
.radioContainer {
    display: inline-block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .radioboxCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .radioContainer:hover input ~ .radioboxCheckmark {
    background-color: #fff;
  }

  /* When the radio button is checked, add a blue background */
  .radioContainer input:checked ~ .radioboxCheckmark {
    border: 1px solid #aaa;
    background-color: #fff;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radioboxCheckmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .radioContainer input:checked ~ .radioboxCheckmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .radioContainer .radioboxCheckmark:after {
      top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #cb0000;
      transition: all 2s;
  }

/* 라디오박스 커스텀 끝 */

#title {
    width: 875px;
}

#content {
    width: 860px;
    height: 215px;
    margin-top: 10px;
    border: 1px solid #dedede;
    outline: none;
    transition: 0.3s;
    resize: none;
    font-size: 20px;
    padding: 15px 14px;
    line-height: 20px;
    overflow: auto;
}

#content:focus {
    border: 1px solid #000;
    transition: 0.3s;
}

#inquiryArea table tr:nth-child(11) input {
    margin-top: 10px;
}

#inquiryArea table tr:nth-child(11) p, 
#inquiryArea table tr:nth-child(12) p{
    height: 8px;
    font-size: 13px;
    color: #888;
    margin-top: 10px;
}

#inquiryArea table tr:last-child iframe {
    width: 885px;
    height: 280px;
    margin-top: 10px;
    border: 1px solid #dedede;
}

#inquiryArea table tr:last-child fieldset{
    text-align: right;
}

/*첨부파일 시작*/

table tr td .filebox {
    margin-top: 10px;
    position: relative;
  }
  
  .filebox input[type="file"] {
    position: absolute; 
    width: 1px; 
    height: 1px;
    clip:rect(0,0,0,0); 
    border: 0;
  }
  
  .filebox label span {
    width: 110px;  
    height: 44px;
    display: inline-block; 
    border: none;
    font-size: 15px;
    text-align: center;
    line-height: 44px;
    background-color: #888;
    color: #fff;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
  } 

  .filebox #file-upload-name {
    width: 760px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #dedede;
  }
  
  .filebox .file-upload-name {
    font-size: inherit; 
    font-family: inherit; 
    line-height: normal; 
    vertical-align: middle; 
    margin-right: 10px;
    background-color: #f5f5f5; 
    display: inline-block; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
  } 

/*첨부파일 끝*/

#inquiryArea #btnArea {
    padding-top: 60px;
    text-align: center;
}

#btnArea button {
    width: 183px;
    height: 56px;
    font-size: 20px;
    margin: 3px;
    outline: none;
    cursor: pointer;
}

#inquiryBtn {
    border: none;
    background-color: #cb0000;
    color: #fff;
}

#cancleBtn {
    border: 1px solid #888;
    background-color: #fff;
}