@charset "UTF-8";

main {
    position: relative;
    top:100px;
}

/*menuList 시작*/

#menuList {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #dedede;
}

#menuList #mainBar {
    width: 1180px;
    height: 50px;
    margin: 0 auto;
    border-left: 1px solid #dedede;
}

#menuList #mainBar>li {
    line-height: 50px;
    float: left;
    text-align: center;
    position: relative;
    color: #bbb;
}

#menuList #mainBar li a:not(.active) {
    color: #bbb;
    transition: 0.3s;
}

#menuList #mainBar li a:hover {
    color: #000;
}

#menuList #mainBar .subBar li a:hover {
    text-decoration: underline;
}

#menuList #mainBar>li:first-child {
    width: 61px;
    border-right: 1px solid #dedede;
}

#menuList #mainBar>li:nth-child(2) {
    width: 243px;
    border-right: 1px solid #dedede;
}

#menuList #mainBar>li:nth-child(2) i {
    padding-left: 160px;
}

#menuList #mainBar>li:nth-child(3) {
    width: 278px;
    border-right: 1px solid #dedede;
}

#menuList #mainBar>li:nth-child(3) i {
    padding-left: 180px;
}

#menuList #mainBar>li:last-child {
    width: 555px;
    text-align: right;
    font-size: 14px;
    word-spacing: 5px;
}

#menuList #mainBar>li:last-child span {
    color: #000;
}

#menuList .subBar {
    width: 243px;
    display: none;
    background-color: #fff;
    border: 1px solid #dedede;
    position: absolute;
    left: -1px;
}

#menuList li:nth-child(3) .subBar {
    width: 278px;
    left: -1px;
}

#menuList .subBar li {
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
}

.mainBarStyle {
    border: 1px solid #000 !important;
    border-bottom: none;
    box-shadow: 1px 7px 10px #aaa;
    left: -1px;
    top: -1px;
}

.subBarStyle {
    border: 1px solid #000 !important;
    box-shadow: 1px 7px 10px #aaa;
}

.subBar li a.active {
    text-decoration: underline;
}

/*menuList 종료*/

#loginArea {
    width: 1180px;
    text-align: center;
    padding: 80px 0 100px 0;
}

#loginArea p:first-child {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

#loginArea p:nth-child(2) {
    color: #666;
}

#loginArea #loginBox {
    width: 860px;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #dedede;
}

#uID, #uPW {
    width: 322px;
    height: 42px;
    border: 1px solid #dedede;
    padding-left: 12px;
    margin: 5px 0;
    outline: none;
    transition: 0.3s;
}

#uID:focus, #uPW:focus {
    border: 1px solid #cb0000;
    transition: 0.3s;
}

#uID::placeholder, #uPW::placeholder {
    font-size: 16px;
    color: #aaa;
}

#loginBtn {
    width: 104px;
    height: 104px;
    font-size: 20px;
    border: none;
    background-color: #cb0000;
    color: #fff;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
}

#loginBox>ul {
    width: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#loginBox>ul li {
    width: 225px;
    font-size: 14px;
    color: #666;
}

#loginBox>ul li a {
    color: #666;
}

#loginBox>ul li:first-child {
    text-align: left;
    margin-top: 5px;
    position: relative;
}

/*체크박스 사라지게 하기*/

.chkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

/* 커스텀 체크박스 구현 */

.chkboxCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    color: #cccccc;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* 체크 되었을때 배경색 */

.chkboxContainer input:checked~.chkboxCheckmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */

.chkboxCheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.chkboxContainer input:checked~.chkboxCheckmark:after {
    display: block;
}

.chkboxContainer .chkboxCheckmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid #cb0000;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* 체크박스 커스텀 끝 */

#ID_cookie {
    margin-left: 30px;
}

#loginBox>ul li:nth-child(2) {
    text-align: right;
    padding-top: 5px;
}

#loginBox>ul li:nth-child(2) span {
    color: #dedede;
}

#loginArea p:nth-child(4) {
    font-size: 14px;
    color: #bbb;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

#joinBtn {
    width: 460px;
    height: 55px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
}

#moveManager {
    width: 150px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin-top: 40px;
    background-color: #000;
}
