@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    font-family: 'Noto Sans','Noto Sans KR', verdana, sans-serif;
}

main {
    position: relative;
    top:100px;
}

main>p {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

main>p img {
    width: 100%;
    min-width: 1900px;
}

/*menuList 시작*/

#menuList {
    width: 100%;
    height: 50px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

#menuList #mainBar {
    width: 1180px;
    height: 50px;
    margin: 0 auto;
    border-left: 1px solid #dedede;
}

#menuList #mainBar>li {
    line-height: 50px;
    float: left;
    text-align: center;
    position: relative;
    color: #bbb;
}

#menuList #mainBar li a:not(.active) {
    color: #bbb;
    transition: 0.3s;
}

#menuList #mainBar li a:hover {
    color: #000;
}

#menuList #mainBar .subBar li a:hover {
    text-decoration: underline;
}

#menuList #mainBar>li:first-child {
    width: 61px;
    border-right: 1px solid #dedede;
}

#menuList #mainBar>li:nth-child(2) {
    width: 243px;
    border-right: 1px solid #dedede;
}

#menuList #mainBar>li:nth-child(2) i {
    padding-left: 100px;
}

#menuList #mainBar>li:nth-child(3) {
    width: 278px;
    border-right: 1px solid #dedede;
}

#menuList #mainBar>li:nth-child(3) i {
    padding-left: 140px;
}

#menuList #mainBar>li:last-child {
    width: 590px;
    text-align: right;
    font-size: 14px;
}

#menuList #mainBar>li:last-child span {
    color: #000;
}

#menuList .subBar {
    width: 243px;
    display: none;
    background-color: #fff;
    border: 1px solid #dedede;
    position: absolute;
    left: -1px;
    z-index: 9999;
}

#menuList li:nth-child(3) .subBar {
    width: 278px;
    left: -1px;
}

#menuList .subBar li {
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
}

.mainBarStyle {
    border: 1px solid #000 !important;
    border-bottom: none;
    box-shadow: 1px 7px 10px #aaa;
    left: -1px;
    top: -1px;
}

.subBarStyle {
    border: 1px solid #000 !important;
    box-shadow: 1px 7px 10px #aaa;
}

.subBar li a.active {
    text-decoration: underline;
}

/*menuList 종료*/

#myInquiryArea {
    width: 1180px;
    padding: 80px 0 100px;
}

#tableTop {
    display: flex;
    justify-content: space-between;
}

#tableTop p {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 26px;
}

#tableTop p:last-child {
    text-align: right;
}

#tableTop p:last-child span {
    width: 118px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    background-color: #000;
}

#tableTop p:last-child span a {
    color: #fff;
}

#tableTop p:last-child span i {
    padding-left: 10px;
    font-size: 10px;
}

#tableTop p span {
    font-size: 14px;
    color: #666;
}

#tableTop p span#inquiryNum {
    color: #cb0000;
    font-weight: bold;
}

#myInquiryArea table {
    width: 1180px;
    border-top: 1.5px solid #000;
    border-collapse: collapse;
}

#myInquiryArea table tr th {
    height: 71px;
    font-weight: normal;
    background-color: #f9f9f9;
    border-bottom: 1px solid #dedede;
}

#myInquiryArea table tr td {
    height: 71px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #dedede;
}

#myInquiryArea table tr:nth-child(2) td:nth-child(2),
#myInquiryArea table tr:nth-child(2) td:nth-child(4),
#myInquiryArea table tr:nth-child(2) td:last-child {
    font-size: 13px;
}

#myInquiryArea table tr:nth-child(2) td:first-child,
#myInquiryArea table tr:nth-child(2) td:nth-child(2),
#myInquiryArea table tr:nth-child(2) td:nth-child(4) {
    color: #888;
}

#myInquiryArea table tr:nth-child(2) td:nth-child(3) {
    text-align: left;
}

#myInquiryArea table tr:nth-child(2) td:nth-child(3):hover {
    text-decoration: underline;   
}

#myInquiryArea table tr:nth-child(2) td:last-child {
    color: #cb0000;
}

#buttonArea {
    height: 40px;
    margin-top: 40px;
    text-align: center;
}

#buttonArea ul {
    height: 40px;
    display: inline-block;
}

#buttonArea #pageBtn {
    margin: 0 20px;
}

#buttonArea ul li,#buttonArea ul li a{
    width: 42px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    float: left;
}

#buttonArea ul:first-child li,
#buttonArea ul:last-child li {
    border: 1px solid #aaa;
    font-size: 18px;
}

#buttonArea ul:first-child li:first-child,
#buttonArea ul:last-child li:first-child {
    border-right: none;
}

#buttonArea #pageBtn li {
    border: 1px solid #aaa;
    border-right: none;
    color: #666;
}

#buttonArea #pageBtn li:hover {
    background-color: #eee;
}

#buttonArea #pageBtn li:last-child {
    border: 1px solid #aaa;
}

.pager {
    background-color: #000;
    color: #fff;
}